<div class="compact-tabs">
  <button class="btn"
          mat-stroked-button
          (click)="onAddItem()">Add item
  </button>

  <mat-tab-group>
    <mat-tab label="reusable">
      <app-loading/>
      <app-item-list
        (itemUpdated)="onItemUpdated($event)"
        (itemDeleted)="onItemDeleted($event)"
        [items]="reusableItems()">

      </app-item-list>
    </mat-tab>

    <mat-tab label="consumable">
      <app-item-list
        (itemUpdated)="onItemUpdated($event)"
        (itemDeleted)="onItemDeleted($event)"
        [items]="consumableItems()">
      </app-item-list>
    </mat-tab>
  </mat-tab-group>
</div>
