<h1>How to use inputs
  <button mat-icon-button
          (click)="openGithubLink()"
          aria-label="Open source code">
    <mat-icon>open_in_new</mat-icon>
  </button>
</h1>

<app-card [inputProperty]="propertyToPass"
          requiredInput="requiredInputToPass"
/>

<mat-divider></mat-divider>
<mat-tab-group mat-stretch-tabs="false"
               mat-align-tabs="start"
               (selectedTabChange)="onTabChange()">
  <mat-tab label="Component">
    <pre>
      <code class="language-ts">
        {{ sourceComponent }}
      </code>
    </pre>


  </mat-tab>
  <mat-tab label="HTML">
    <pre>
      <code class="language-markup">
        {{ sourceHTML }}
      </code>
    </pre>
  </mat-tab>
</mat-tab-group>
