<h3>Usage of content child:</h3>
<h4>Used for getting child component projected by ng-content </h4>

<app-content-child-child>
  <div #divElement>
    Text inside div
  </div>
</app-content-child-child>

<h4>Code:</h4>
<pre>
  <code class="language-markup">
    {{ contentChildCode }}
  </code>
</pre>

<h3>Get component from ng-content</h3>
<app-content-child-child>
  <app-content-child-image
    [imageSrc]="darkSoulsImageUrl">
  </app-content-child-image>
</app-content-child-child>

<h4>Code:</h4>
<pre>
  <code class="language-markup">
    {{ contentChildComponentCode }}
  </code>
</pre>


<h3>Usage of content children:</h3>
<h4>Used for getting children components projected by ng-content</h4>

<app-content-child-child>
  <app-content-child-image
    [imageSrc]="darkSoulsImageUrl">
  </app-content-child-image>
</app-content-child-child>

<app-content-child-child>
  <app-content-child-image
    [imageSrc]="darkSoulsImageUrl">
  </app-content-child-image>
</app-content-child-child>

<app-content-child-child>
  <app-content-child-image
    [imageSrc]="darkSoulsImageUrl">
  </app-content-child-image>
</app-content-child-child>
