<h1>How to use Content child
  <button mat-icon-button
          (click)="openGithubLink()"
          aria-label="Open source code">
    <mat-icon>open_in_new</mat-icon>
  </button>
  <mat-icon matTooltip="More examples in console.log">info</mat-icon>
</h1>

<h3>Usage of content child:</h3>
<h4>Used for getting child component projected by ng-content </h4>

<app-content-child-child>
  <div #divElement>
    Text inside div
  </div>
</app-content-child-child>

<h3>Get component from ng-content</h3>
<app-content-child-child>
  <app-content-child-image
    [imageSrc]="darkSoulsImageUrl">
  </app-content-child-image>
</app-content-child-child>
