<h1>How to create a new project</h1>

<h3>Minimal requirements for v17</h3>
<div>
  <ul>
    <li>node.js version <b>v18.13</b></li>
    <li>TypeScript version <b>5.2</b></li>
    <li>zone.js <b>v0.14.0</b></li>
  </ul>
</div>

<h3>New project</h3>
<p>
  Install angular-cli
<pre class="code-snippet">
  <code>
npm install -g &#64;angular/cli
  </code>
</pre>

<p>
  Create new project called project-title

<pre class="code-snippet">  <code>
ng new project-title
  </code>
</pre>

<p>
  Start app

<pre class="code-snippet">  <code>
npm start
  </code>
</pre>

<p>
  Generate new component

<pre class="code-snippet">  <code>
ng generate component component-name
  </code>
  <code>
ng generate directive|pipe|service|class|guard|interface|enum|module
  </code>
</pre>
