<div class="whole-page">
  <h1>How to create a new project</h1>

  <p>
    Install angular-cli
  <pre class="code-snippet">
  <code>
npm install -g @angular/cli
  </code>
</pre>

  <p>
    Create new project called project-title

  <pre class="code-snippet">  <code>
ng new project-title
  </code>
</pre>

  <p>
    Start app

  <pre class="code-snippet">  <code>
npm start
  </code>
</pre>

  <p>
    Generate new component

  <pre class="code-snippet">  <code>
ng generate component component-name
  </code>
  <code>
ng generate directive|pipe|service|class|guard|interface|enum|module
  </code>
</pre>
</div>
