<h1>How to use interpolation syntax
  <button mat-icon-button
          (click)="openGithubLink()"
          aria-label="Open source code">
    <mat-icon>open_in_new</mat-icon>
  </button>
</h1>
<p>
  In html add
<pre class="code-snippet">
<code ngNonBindable>
  {{property or expression}}
</code>
</pre>

<p>
  In component add


<pre class="code-snippet">
<code ngNonBindable>
  {{object.property}}
</code>
</pre>

<p>Working example:
<pre class="code-snippet">
<code>
  {{ object.property }}
</code>
</pre>
<mat-divider></mat-divider>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Component">
    <code class="language-ts"
          [innerText]="sourceComponent">
    </code>
  </mat-tab>
  <mat-tab label="HTML">
    <code class="language-ts"
          [innerHTML]="sourceHTML">
    </code>
  </mat-tab>
</mat-tab-group>
