<h1>How to use | pipes
  <button mat-icon-button
          (click)="openGithubLink()"
          aria-label="Open source code">
    <mat-icon>open_in_new</mat-icon>
  </button>
</h1>
<h4>Template mechanism to transform data and display it in another form to the user</h4>
<h3>Date pipes</h3>

<h4>Result:</h4>
<div>
  startDate value = {{ startDate }}
</div>
<div>
  startDate value with date pipe = {{ startDate | date }}
</div>
<div>
  startDate value with date pipe formatted dd/MM/yy = {{ startDate | date: 'dd/MM/yy' }}
</div>

<h4>Code:</h4>
<pre>
  <code class="language-ts">
    {{ datePipeCode }}
  </code>
</pre>

<h3>String pipes</h3>

<h4>Result:</h4>
<div>
  title value = {{ title }}
</div>
<div>
  title value with lowercase = {{ title| lowercase }}
</div>
<div>
  title value with uppercase = {{ title| uppercase }}
</div>

<h4>Code:</h4>
<pre>
  <code class="language-ts">
    {{ stringPipeCode }}
  </code>
</pre>

<h3>Number pipes</h3>

<h4>Result:</h4>
<div>
  number value = {{ numberValue }}
</div>
<div>
  number value with digits info = {{ numberValue | number: '3.3-5' }}
</div>

<div>number value as currency = {{ numberValue | currency }}</div>
<div>number value as currency = {{ numberValue | currency: 'EUR' }}</div>


<h4>Code:</h4>
<pre>
  <code class="language-ts">
    {{ numberPipeCode }}
  </code>
</pre>

<h3>Percent pipes</h3>

<h4>Result:</h4>
<div>rateValue =  {{ rateValue }}</div>
<div>rateValue as percent {{ rateValue | percent }}</div>

<h4>Code:</h4>
<pre>
  <code class="language-ts">
    {{ percentPipeCode }}
  </code>
</pre>

<h3>Json pipes</h3>

<h4>Result:</h4>
<div>jsonValue =  {{ jsonValue }}</div>
<div>jsonValue as json {{ jsonValue | json }}</div>

<h4>Code:</h4>
<pre>
  <code class="language-ts">
    {{ jsonPipeCode }}
  </code>
</pre>

<h3>List pipes</h3>

<h4>Result:</h4>
<div>listValue =  {{ listValue | json }}</div>
<div>listValue with slice {{ listValue | slice:0:2 | json }}</div>

<h4>Code:</h4>
<pre>
  <code class="language-ts">
    {{ listPipeCode }}
  </code>
</pre>

<h3>KeyValue pipe</h3>

<h4>Result:</h4>
<!--@for (item of listValue | keyvalue; track $index) {
  <p>key = {{ item.key }}</p>
  @for (pair of item.value; track $index) {
    <p>{{ pair.key }} : {{ pair.value }}</p>
  }
}-->

@for (item of listValue[0] | keyvalue; track $index){
  <p>key: {{item.key}}, value: {{item.value}}</p>
}
<h4>Code:</h4>
<pre>
  <code class="language-ts">
    {{ keyValuePipeCode }}
  </code>
</pre>
