<h1>How to use ng-container
  <button mat-icon-button
          (click)="openGithubLink()"
          aria-label="Open source code">
    <mat-icon>open_in_new</mat-icon>
  </button>
</h1>

<h5>In case we don't have parent element to which we can add directive we can use ng-container to create such parent element</h5>

<h3>Usage:</h3>

<ng-container *ngIf="objectToCheck">
  <div> {{objectToCheck | json }}</div>
</ng-container>

<h4>Code:</h4>
<pre>
  <code class="language-ts">
    {{ ngContainerCode }}
  </code>
</pre>

<h5>NOTE: *ngIf is an old usage, for versions above 17 we go with &#64;if</h5>
