@for (item of items; track item.id) {
  <mat-card appearance="outlined"
            class="item-card">
    <mat-card-header>
      <mat-card-title>
        {{ item.name }}
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="item.image" matCardImageLarge>
      <mat-card-content>
        <p>{{ item.description }}</p>
      </mat-card-content>

    <mat-card-actions >

      <button mat-button mat-raised-button color="primary" [routerLink]="['item', item.id]">
        VIEW ITEM
      </button>

      <button mat-button mat-raised-button color="primary" [routerLink]="['singleItemObservable', item.id]">
        VIEW ITEM (single data observable)
      </button>

      <button mat-button mat-raised-button color="accent"
              (click)="editItem(item)">
        EDIT
      </button>

    </mat-card-actions>
  </mat-card>
}
