.login-form {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  color: black;
  border: 1px solid #2086fc;
  border-radius: 10px;
}

.login {
  max-width: 400px;
  margin: 0 15rem;
  padding-top: 100px;
}

.form-control {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-control input {
  padding: 10px;
  border: 1px solid #50277c;
  border-radius: 5px;
  font-size: 16px;
}

.form-control textarea {
  padding: 10px;
  border: 1px solid #50277c;
  border-radius: 5px;
  font-size: 16px;
  min-height: 100px;
}

.form-control select {
  padding: 10px;
  border: 1px solid #50277c;
  border-radius: 5px;
  font-size: 16px;
}

.form-control label {
  margin-bottom: 5px;
  margin-left: 5px;
}

.form-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.form-actions button {
  text-transform: uppercase;
  margin-right: 10px;
}

.on-top-right {
  margin-left: auto;
}
