<div class="compact-tabs">
  <mat-tab-group>
    <mat-tab label="reusable">
      <div *ngIf="reusableItems$ | async as items">
        <app-item-card-list-observable
          [items]="items">

        </app-item-card-list-observable>
      </div>
    </mat-tab>

    <mat-tab label="consumable">
      <div *ngIf="consumableItems$ | async as items">

        <app-item-card-list-observable
          [items]="items">

        </app-item-card-list-observable>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
