<h1>How to use &#64;switch in v17
  <button mat-icon-button
          (click)="openGithubLink()"
          aria-label="Open source code">
    <mat-icon>open_in_new</mat-icon>
  </button>
</h1>


<h3>Switch usage by property (category): </h3>

<h4>Given object:</h4>
<pre>
      <code class="language-ts">
{{object1 | json}}
      </code>
    </pre>

<h4>Result:</h4>

<div>
  @switch(object1.category){
    @case("BEGINNER"){
      <div>BEGINNER</div>
    }
    @case("INTERMEDIATE"){
      <div>INTERMEDIATE</div>
    }
    @case("ADVANCED") {
      <div>ADVANCED</div>
    }
  }
</div>

<h4>Code:</h4>
<pre>
      <code class="language-ts">
{{switchCode}}
      </code>
    </pre>

<h3>Switch usage with list and default option</h3>

<h4>Given list:</h4>
<pre>
      <code class="language-ts">
{{listToShow | json}}
      </code>
    </pre>
<h4>Result:</h4>

@for(item of listToShow; track item.name){
  <p> Object name: {{item.name}}
  @switch(item.category){
    @case("BEGINNER"){
    <div>BEGINNER</div>
    }
    @case("INTERMEDIATE"){
    <div>INTERMEDIATE</div>
    }
    @case("ADVANCED") {
    <div>ADVANCED</div>
    }
    @default {
    <div>UNKNOW</div>
    }
  }
}

<h4>Code:</h4>
<pre>
      <code class="language-ts">
{{switchListCode}}
      </code>
    </pre>
