<!--<div [formGroup]="form">-->

<!--  <h3>{{ data.name }}</h3>-->
<div class="edit-item-form"
     [formGroup]="form">

  <h3>{{ data.title }}</h3>

  <div class="form-control">
    <label>Item name:</label>
    <input placeholder="Enter item name"
           formControlName="name">
  </div>

  <div class="form-control">
    <label>Item description:</label>
    <textarea placeholder="Enter item description"
              formControlName="description">
    </textarea>
  </div>

  <app-item-type-combobox
    label="Item type"
    [(typeValue)]="type">
    <div class="item-title"
         #itemTitle>
      Item type (provided as content)
    </div>
  </app-item-type-combobox>

  <div class="form-actions">
    <button class="btn"
            (click)="onSave()">
      Save
    </button>

    <button class="btn"
            (click)="onClose()">
      Cancel
    </button>
  </div>
</div>
