<mat-toolbar color="primary">
  <button mat-icon-button
          (click)="sidenav.toggle()"
          id="menuIcon">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="menuTitle">My notes</span>
  <span class="example-spacer"></span>

  <button mat-icon-button
          (click)="openGithubPage()">
    <mat-icon svgIcon="github_mark"></mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
               [fixedInViewport]="true"
               [fixedTopGap]="60"
               mode="side"
               opened>
    <div class="side-nav-items">
      <div>
        <a mat-button routerLink="/" class="side-menu-item">Home</a>
      </div>
      <div>
        <a mat-button routerLink="/first" class="side-menu-item">First</a>
      </div>
      <div>
        <a mat-button routerLink="/second" class="side-menu-item">Second</a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet>

      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


