<mat-toolbar color="primary">
  <button mat-icon-button
          (click)="sidenav.toggle()"
          id="menuIcon">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="menuTitle">My notes</span>
  <span class="example-spacer"></span>

  <button mat-icon-button
          (click)="openGithubPage()">
    <mat-icon svgIcon="github_mark"></mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
               [fixedInViewport]="true"
               [fixedTopGap]="60"
               mode="side"
               opened>
    <input (keyup)="search(searchInput.value)"
           #searchInput>
    <div class="side-nav-items">
      <mat-tree
        class="topic-tree mat-elevation-z4"
        [dataSource]="nestedDataSource"
        [treeControl]="nestedTreeControl"
      >
        <mat-tree-node *matTreeNodeDef="let node"
                       matTreeNodeToggle>
          {{ node.name }}
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">

          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle>
              <mat-icon>
                {{ nestedTreeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
              </mat-icon>
            </button>
            {{ node.name }}
          </div>
          <div
            class="nested-node"
            [class.topic-tree-invisible]="!nestedTreeControl.isExpanded(node)">

            <ng-container matTreeNodeOutlet></ng-container>
          </div>

        </mat-nested-tree-node>

        <mat-nested-tree-node
          *matTreeNodeDef="let node; when: isLeafWithLink">
          <div class="mat-tree-node">
            <a mat-button
               [routerLink]="node.routerLink">
              {{ node.name }}
            </a>
          </div>
        </mat-nested-tree-node>

      </mat-tree>
      <mat-divider></mat-divider>

      <div>
        <a mat-button routerLink="/" class="side-menu-item position-bottom">Home</a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content whole-page">
      <router-outlet>

      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


