#menuTitle {
  font-size: medium;
  margin-right: 20px;
}

.mat-toolbar {
  height: 60px;
}

.mat-sidenav {
  background-color: #673AB7;
  width: 15rem;
}

.side-nav-items {
  display: flexbox;
  flex-direction: column;
}

.side-menu-item {
  color: white !important;
}

.main-content {
  padding-left: 20px;
  padding-right: 20px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.top-menu-right-item {
  float: right;
}

.example-spacer {
  flex: 1 1 auto;
}

.icon-display {
  font-size: 10px !important
}

.topic-tree .mat-nested-tree-node .nested-node {
  padding-left: 20px;
}

.topic-tree .nested-node > .mat-tree-node {
  padding-left: 15px;
  padding-right: 15px;
}

.mat-tree-node a {
  justify-content: inherit !important;
  font-weight: normal;
}

.mat-tree-node {
  font-weight: bold;
}

.topic-tree-invisible {
  display: none;
}

.topic-tree ul,
.topic-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.position-bottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}

.whole-page {
  position: fixed;
  overflow: auto;
  height: 50rem;
  width: 75rem;
}

.input-field{
  padding: 5px;
  margin: 5px;
  width: -moz-available !important;
}
