#menuTitle {
  font-size: medium;
  margin-right: 20px;
}

.mat-toolbar {
  height: 60px;
}

.mat-sidenav {
  background-color: #673AB7;
  width: 160px;
}

.side-nav-items {
  display: flexbox;
  flex-direction: column;
}

.side-menu-item {
  color: white !important;
}

.main-content {
  margin: 20px;
}

.top-menu{
  display: flex;
  justify-content: space-between;
}

.top-menu-right-item {
  float: right;
}

.example-spacer {
  flex: 1 1 auto;
}

.icon-display{
  font-size: 10px !important
}

.topic-tree .mat-nested-tree-node .nested-node{
  padding-left: 20px;
}

.topic-tree .nested-node > .mat-tree-node {
  padding-left: 20px;
}

.topic-tree-invisible {
  display: none;
}

.topic-tree ul,
.topic-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.position-bottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}
