<div class="create-item-panel data-form">
  <h3 class="title">Create new item</h3>
  <div>
    <mat-horizontal-stepper class="mat-elevation-z7"
                            linear="true">
      <mat-step [stepControl]="step1.form" errorMessage="Landing page contains errors">
        <ng-template matStepLabel>
          Item landing page
        </ng-template>

        <app-advanced-form-step1 #step1></app-advanced-form-step1>

        <div class="stepper-buttons">
          <button mat-raised-button color="primary" matStepperNext>
            Continue to step 2
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="step2.form" errorMessage="Details page contains errors">
        <app-advanced-form-step2 #step2>
        </app-advanced-form-step2>

        <ng-template matStepLabel>
          Item details
        </ng-template>

        <div class="stepper-buttons">
          <button mat-raised-button color="secondary" matStepperPrevious>
            Back
          </button>

          <button mat-raised-button color="primary" matStepperNext>
            Next
          </button>

        </div>
      </mat-step>

      <mat-step [stepControl]="step3.form" errorMessage="Locations page contains errors">
        <app-advanced-form-step3 #step3 >
        </app-advanced-form-step3>

        <ng-template matStepLabel>
          Item locations
        </ng-template>

        <div class="stepper-buttons">
          <button mat-raised-button color="secondary" matStepperPrevious>
            Back
          </button>
          <button mat-raised-button color="primary"
                  [disabled]="!step3.form.valid || step3.locations.length==0"
                  (click)="submit(step1.form.value, step2.form.value, step3.form.value)">
            Save item
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
