<h1>How to use View Child
  <button mat-icon-button
          (click)="openGithubLink()"
          aria-label="Open source code">
    <mat-icon>open_in_new</mat-icon>
  </button>
</h1>

<h4>Used to get reference to child components</h4>

<h3>Get reference to child component</h3>
<h4>We will receive reference to component</h4>

<app-vc-child
  [property]="propertyToPass">
</app-vc-child>

<div>
  Child component received by &#64;ViewChild
  <code>
    <pre class="language-ts">{{ child | json }}</pre>
  </code>
</div>

<mat-divider></mat-divider>
<h4>If we have more child components, we will receive reference to first one</h4>

<h3>Template reference</h3>
<app-vc-child #childRef
              [property]="propertyToPass">
</app-vc-child>

<app-vc-child #otherChildRef
              [property]="propertyToOtherChildPass">
</app-vc-child>

<div>
  Child component received by &#64;ViewChild with template reference
  <code>
    <pre class="language-ts">{{ childByTemplateRef | json }}</pre>
  </code>

  Another child component
  <code>
    <pre class="language-ts">{{ otherChildByTemplateRef | json }}</pre>
  </code>
</div>
<mat-divider></mat-divider>

<h3>Element reference</h3>
<h4>We will receive reference to DOM element</h4>
<div #container>
  <app-vc-child
    [property]="propertyToPass">
  </app-vc-child>
</div>

<div>
  Child component received by &#64;ViewChild with element reference after view checked
  <code>
    <pre class="language-ts">{{ childElementRef | json }}</pre>
  </code>
  Here we receive a div element
</div>
<mat-divider></mat-divider>

<h3>Get component as element reference</h3>
<h4>We will receive reference to DOM element</h4>
<app-vc-child #childToShowAsElement
              [property]="propertyToPass">
</app-vc-child>

<div>
  Child component received by &#64;ViewChild with element reference after view checked
  <code>
    <pre class="language-ts">{{ childComponentAsElementRef | json }}</pre>
  </code>
  Here we receive a child element as plain html element
</div>

<h4>View child cannot query in child component! We can only get children components on parent level, children of children will not be received</h4>
