<p>defer works!</p>

<h3>Elements inside &commat;defer will be visible in network tab as an additional bundle</h3>
Angular will deliver app-defer-child component in new javascript bundle

<h3>Default implementation</h3>
Defer block will be loaded when browser goes idle state

@defer {
  <app-defer-child>
  </app-defer-child>
} @placeholder (minimum 3s) {
  <h4>This is the placeholder, which will be shown until defer is not loading</h4>
  <div>Placeholder stuff will be inside main bundle</div>
} @loading (minimum 3s) {
  <h4>This is the loading block, when defer is triggered to load</h4>
}


