<h3>Elements inside &commat;defer will be visible in network tab as an additional bundle</h3>
Angular will deliver app-defer-child component in new javascript bundle

<h3>Default implementation</h3>
Defer block will be loaded when browser goes idle state
<h4>When browser goes idle?</h4>
docs:
<a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/requestIdleCallback">https://developer.mozilla.org/en-US/docs/Web/API/Window/requestIdleCallback</a>
<p></p>
<mat-divider></mat-divider>

<h3>Defer in action:</h3>
@defer {
  <div class="child-element">
    <app-defer-child>
    </app-defer-child>
  </div>
} @placeholder (minimum 3s) {
  <div class=child-element>
    <h4>This is the placeholder, which will be shown until defer is not loading</h4>
    <div>Placeholder stuff will be inside main bundle</div>
  </div>
} @loading (minimum 3s) {
  <h4>This is the loading block, when defer is triggered to load</h4>
}

<h3>Default implementation on defer is &commat;defer (on idle; prefetch on idle)</h3>

<p></p>
<mat-divider></mat-divider>

<h3>Timer trigger</h3>

@defer (on timer(10s); prefetch on timer(5s)) {
  <div class="child-element">
    <app-defer-timer></app-defer-timer>
  </div>
} @placeholder () {
  <div class="child-element">
    <p>Prefetch will be triggered after 5s, so bundle with app-defer-timer component will be called
    <p>and after 10s defer will be triggered
    <p>To see
      <mark>error</mark>
      usage, switch to offline in network tab before prefetch will be triggered
  </div>
} @error {
  <p>Place for nice error message, not like this one</p>
}

<div class="big-grey-box"> This is a big bordered box only to present (on viewport) trigger below</div>

<mat-divider></mat-divider>

<h3>On Viewport trigger</h3>

<p>Triggered when placeholder is visible for the user...</p>

@defer (on viewport; prefetch on viewport) {
  <div class="child-element">
    <app-defer-viewport>
    </app-defer-viewport>
  </div>
} @placeholder () {
  <p>Required placeholder for viewport trigger</p>
}

<p #viewPortTrigger>...OR when we use element as parameter for viewport</p>

@defer (on viewport(viewPortTrigger)) {
  <p>This line is shown because you scrolled to #viewPortTrigger</p>
}

<mat-divider></mat-divider>

<h3>On Interaction trigger</h3>

@defer (on interaction; prefetch on idle) {
  <div class="child-element">
    <p>Defer on interaction</p>
  </div>
} @placeholder () {
  <p>Click on this placeholder to trigger interaction</p>
}

<h4>Trigger on template reference</h4>
<div class="demoTriggers">
  <input placeholder="Type to trigger prefetch" #triggerPrefetch>
  <button mat-stroked-button #triggerDisplay>Trigger display</button>
</div>

@defer (on interaction(triggerDisplay); prefetch on interaction(triggerPrefetch)) {
  <div class="child-element">
    <p>Defer triggered by different element, outside of placeholder</p>
  </div>
}

<mat-divider></mat-divider>

<h3>On hover trigger</h3>

@defer(on hover; prefetch on idle) {
  <div class="child-element">
    <p>Defer on hover</p>
  </div>
} @placeholder () {
  <p>Hover over this text to trigger defer</p>
}

<h4>Similar to previous ones, we can pass template reference &commat;defer(on hover(templateRef))</h4>
