<div>Counter value: {{ counter() }}</div>
<div>DerivedCounter value: {{ derivedCounter() }}</div>
<br>
<mat-divider></mat-divider>
<br>
<button class="topic-button"
        (click)="increment()">Increment counter
</button>

<h3>Effect is used for side effects of updating dependant signals</h3>
<div class = "topic-child-element">
  <p>React on changes and do something else, like save to backend or log something
  <p>Don't update signals in effect - it's disabled by default and will trigger error
</div>
