<h3>Template usage</h3>

<ng-template #blankImage let-objectName="name">
  <p> {{ objectName }} has no image yet.</p>
  <img src="assets/img/dark-souls-solaire-praise-the-sun-sticker.jpg">
</ng-template>

<div *ngTemplateOutlet="blankImage; context:{name: 'contextName'}">

</div>

<h4>Code:</h4>
<pre>
  <code class="language-markup">
    {{ ngTemplateCode }}
  </code>
</pre>

<h3>Template usage with different context and ng-container</h3>

<ng-container *ngTemplateOutlet="blankImage; context:{name: 'secondInstance'}">

</ng-container>

<h4>Code:</h4>
<pre>
  <code class="language-markup">
    {{ ngTemplateContainerCode }}
  </code>
</pre>

<h3>Pass template as an input</h3>

<app-ng-template-child
  [noImageTemplate]="blankImage">
</app-ng-template-child>

<h4>Code:</h4>
<pre>
  <code class="language-markup">
    {{ templateAsInput }}
  </code>
</pre>
