<div [formGroup]="form" class="create-item-form">
  <mat-form-field floatLabel="always">
    <mat-label>with error</mat-label>
    <input matInput
           placeholder="Provide item name"
           formControlName="name">
    @if (itemName.hasError('minlength')) {
      <mat-error>Please enter a name at least 3 chars length</mat-error>
    }
  </mat-form-field>

  <mat-radio-group formControlName="type">
    <mat-radio-button value="Reusable">
      Reusable
    </mat-radio-button>
    <mat-radio-button value="Consumable">
      Consumable
    </mat-radio-button>
    <mat-radio-button value="Other">
      Other
    </mat-radio-button>
  </mat-radio-group>

</div>
