<div [formGroup]="form" class="main-form">
  <mat-radio-group formControlName="gameType">
    <mat-radio-button value="OFFLINE">
      Offline
    </mat-radio-button>
    <mat-radio-button value="ONLINE">
      Online
    </mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <input type="number"
    matInput
    formControlName="quantity">
  </mat-form-field>

  <app-file-upload requiredFileType="image/png"
                   formControlName="thumbnail">

  </app-file-upload>

  <mat-form-field>
    <mat-label>Event period</mat-label>

    <mat-date-range-input [rangePicker]="eventPicker">
      <input matStartDate
             placeholder="start"
             formControlName="eventStart">

      <input matEndDate
             placeholder="end"
             formControlName="eventEnd">
    </mat-date-range-input>
    <mat-error *ngIf="form.getError('eventPeriod')">The start date must be before end date</mat-error>

    <mat-datepicker-toggle matSuffix
                           [for]="eventPicker">

    </mat-datepicker-toggle>

    <mat-date-range-picker #eventPicker>

    </mat-date-range-picker>
  </mat-form-field>
  <div>
    {{ form.value | json }}
  </div>
</div>
