<div [formGroup]="form">
  <mat-form-field appearance="outline">
    <input matInput
           formControlName="someDate"
           placeholder="Some date to pick"
           [matDatepicker]="someDatePicker">

    <mat-datepicker-toggle matSuffix
                           [for]="someDatePicker">
    </mat-datepicker-toggle>

    <mat-datepicker #someDatePicker>

    </mat-datepicker>
  </mat-form-field>

  <br>
  <span>Highlight date: </span>
  <mat-form-field appearance="outline">
    <input matInput
           formControlName="anotherDate"
           placeholder="Another date to pick"
           [matDatepicker]="anotherDatePicker">

    <mat-datepicker-toggle matSuffix
                           [for]="anotherDatePicker">
    </mat-datepicker-toggle>

    <mat-datepicker #anotherDatePicker
                    [dateClass]="dateClass">

    </mat-datepicker>
  </mat-form-field>
</div>
