<div>Counter value: {{ counter() }}</div>
<div>Derived counter value: {{ derivedCounter() }}</div>
<br>
<div>Multiplier value : {{ multiplier }}</div>
<div>Derived counter value with multiplier condition: {{ derivedCounterWithCondition() }}</div>
<div>Fixed Derived counter value with multiplier condition: {{ fixedDerivedCounterWithCondition() }}</div>

<mat-divider></mat-divider>

<button class="topic-button"
        (click)="increment()">Increment counter
</button>

<div class="topic-child-element">Counter value and Derived counter value will be always calculated together
</div>

<button class="topic-button"
        (click)="incrementMultiplier()">Increment multiplier
</button>

<div class="topic-child-element">
  <p>Derived counter value with multiplier condition will react on counter changes only when previous compute checked counter()
  <p>On init compute multiplier value equals 0, so counter() was called, and every update on counter() will trigger changes on derived counter with multiplier
  <p>When multiplier becomes odd, nothing changes until counter() is not updated, next counter() update will trigger compute on derived counter and counter() will be not called</p>
  <p>Angular will compute only on changes on signals used in previous compute </p>
</div>

<h3>How to fix derived signal with multiplier</h3>
<div class="topic-child-element">
  <p>Move counter() from conditional code and call it always</p>
</div>


