<h2 mat-dialog-title>{{data.title}}</h2>

<app-reactive-loading></app-reactive-loading>
<mat-dialog-content [formGroup]="form">

  <mat-form-field>

    <input matInput
           placeholder="item name"
           formControlName="name">
  </mat-form-field>

  <mat-form-field>

        <textarea matInput placeholder="Description"
                  formControlName="description">
        </textarea>

  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button
          (click)="close()">
    Close
  </button>

  <button mat-raised-button color="primary" #saveButton (click)="save()">
    Save
  </button>

</mat-dialog-actions>


