/* You can add global styles to this file, and also import other style files */
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dir-highlighted {
  border: 5px #9575cd double;
}

.topic-child-element {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.3rem;
  margin: 0.5rem;
  border-left: solid 3px indianred;
}

.topic-button{
  margin: 0.5rem;
}

.highlight-date {
  background: cadetblue !important;
}
