<h3>Add Item Locations:</h3>

<div class="add-locations-form"
     [formGroup]="form">

  <ng-container formArrayName="locations">
    <ng-container *ngFor="let locationForm of locations.controls; let i = index">
      <div class="location-form-row" [formGroupName]="i">
        <mat-form-field appearance="fill">
          <mat-label>Location name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Required dlc</mat-label>
          <mat-select formControlName="dlc">
            <mat-option value="BASE_GAME">Base game</mat-option>
            <mat-option value="DLC_ERDTREE">Shadow of the erdtree</mat-option>
            <mat-option value="DLC_FUTURE">Unannounced dlc</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-icon (click)="deleteLocation(i)">delete_forever</mat-icon>
      </div>
    </ng-container>
  </ng-container>

  <button mat-mini-fab color="primary"
          (click)="addLocation()">
    <mat-icon>add</mat-icon>
  </button>

</div>
