<div class="locations">

  @if (mode() == 'master') {

    <div class="header">
      <h1>Search locations</h1>

      <div class="form-control search-controls">
        <input #search
               placeholder="Search for a location"
               (keyup.enter)="onSearch()">
        <button mat-button
                (click)="onSearch()">
          Search
        </button>
      </div>
    </div>

    @if (locations().length > 0) {
      <div class="table-container">
        <table class="results-table">
          @for (location of locations(); track location.id) {
            <tr (click)="onLocationSelected(location)">
              <td>{{ location.name }}</td>
              <td>{{ location.description }}</td>
            </tr>
          }
        </table>
      </div>
    }

  } @else {
    <app-location-detail
      [location]="selectedLocation()"
      (cancel)="onCancel()"
      (locationUpdated)="onLocationUpdated($event)"/>
  }
</div>

<div>
  <app-messages
    matTooltip="Tooltip for messages">
  </app-messages>
</div>
