@for (item of items(); track item.id) {
  <div class="item-card">
    <div class="item-header">
      <span class="item-title">
        {{ item.name }}
      </span>
    </div>
    <div class="item-header">
      <img class="item-image"
           [src]="item.image">
    </div>
    <div class="item-description">
      <p>{{ item.description }}</p>
    </div>

    <div class="item-actions">
      <button class="btn"
              mat-stroked-button>
        View item
      </button>
      <button class="btn"
              mat-stroked-button>
        Edit item
      </button>
      <button
        class="delete"
        mat-mini-fab
        aria-label="Delete this item">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
}
