.item-card {
  margin: 20px 10px;
  background: #1f172d;
  border-radius: 10px;
  box-shadow: 0 2px 8px #00000026;
}

.item-header {
  padding: 1rem;
}

.item-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.item-image {
  background-color: #fff;
  object-fit: cover;
  border-radius: 1rem;
}

.item-description {
  padding: 1rem;
  color: #fff;
}

.item-actions {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  .btn {
    background: #1f172d;
    color: white;
    padding: 10px 20px;
    border: 1px solid #2086fc;
    border-radius: 5px;
    cursor: pointer;
    margin-inline: 0.2rem;
  }

  .delete {
    max-height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 3px;
    border: 1px solid #2086fc;
    background: #1f172d;
    cursor: pointer;
    color: #fff;
  }

}
