.item-card {
  margin: 20px 10px;
  background: #1f172d;
  border-radius: 10px;
  box-shadow: 0 2px 8px #00000026;
}

.item-header {
  padding: 1rem;
}

.item-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.item-image {
  background-color: #fff;
  object-fit: cover;
  border-radius: 1rem;
}

.item-description {
  padding: 1rem;
  color: #fff;
}
