<div [formGroup]="form">
  <app-address-form legend='miau'
                    formControlName="address"></app-address-form>
  <mat-form-field>
    <input matInput placeholder="Item title" formControlName="title" #title>
    <mat-hint align="end">
      {{ title.value.length }} / 60
    </mat-hint>

    <mat-error *ngIf="itemName.errors?.['titleExists']">
      This name is already used</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="type">
      <ng-container *ngFor="let type of (itemTypes$ | async)">
        <mat-option [value]="type.id">
          {{ type.name }}
        </mat-option>
      </ng-container>

    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput
           [matDatepicker]="someDatePicker"
           formControlName="someDate">
    <mat-datepicker-toggle matIconSuffix
                           [for]="someDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #someDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox color="primary"
                formControlName="someFlag"> Some flag
  </mat-checkbox>

  <mat-form-field appearance="outline">
    <textarea matInput
              formControlName="description"
              placeholder="description">

    </textarea>
  </mat-form-field>

  <div class="form-val">

    {{form.value | json}}

  </div>
</div>
